In [4]:
import pandas as pd
import numpy as np
import gc

In [2]:
doc_meta = pd.read_csv('/data/documents_meta.csv')
doc_meta.head()

   document_id  source_id  publisher_id         publish_time
0      1595802        1.0         603.0  2016-06-05 00:00:00
1      1524246        1.0         603.0  2016-05-26 11:00:00
2      1617787        1.0         603.0  2016-05-27 00:00:00
3      1615583        1.0         603.0  2016-06-07 00:00:00
4      1615460        1.0         603.0  2016-06-20 00:00:00

In [3]:
print doc_meta.shape
doc_meta['document_id'] = doc_meta['document_id'].astype('category')
doc_meta['source_id'] = doc_meta['source_id'].astype('category')
doc_meta['publisher_id'] = doc_meta['publisher_id'].astype('category')
doc_meta.dtypes

(2999334, 4)

document_id     category
source_id       category
publisher_id    category
publish_time      object
dtype: object

In [4]:
doc_meta.head()

  document_id source_id publisher_id         publish_time
0     1595802       1.0        603.0  2016-06-05 00:00:00
1     1524246       1.0        603.0  2016-05-26 11:00:00
2     1617787       1.0        603.0  2016-05-27 00:00:00
3     1615583       1.0        603.0  2016-06-07 00:00:00
4     1615460       1.0        603.0  2016-06-20 00:00:00

In [5]:
doc_meta.describe(include='all')

        document_id  source_id  publisher_id         publish_time
count       2999334  2996816.0     2935310.0              1988216
unique      2999334    14394.0        1259.0                49913
top         2999334      722.0         925.0  2015-01-01 00:00:00
freq              1   235463.0      239495.0                16619

In [6]:
len(doc_meta['document_id'].unique())

2999334

In [36]:
events = pd.read_csv('/data/events.csv',na_values=['\\N'])
events.head()

   display_id            uuid  document_id  timestamp  platform geo_location
0           1  cb8c55702adb93       379743         61       3.0    US>SC>519
1           2  79a85fa78311b9      1794259         81       2.0    US>CA>807
2           3  822932ce3d8757      1179111        182       2.0    US>MI>505
3           4  85281d0a49f7ac      1777797        234       2.0    US>WV>564
4           5  8d0daef4bf5b56       252458        338       2.0        SG>00

In [8]:
print events.shape
events['display_id'] = events['display_id'].astype('category')
events['uuid'] = events['uuid'].astype('category')
events['document_id'] = events['document_id'].astype('category')
events['platform'] = events['platform'].astype('category')
events['geo_location'] = events['geo_location'].astype('category')
events['timestamp'] = events['timestamp'].astype('category')
print events.dtypes

(23120126, 6)
display_id      category
uuid            category
document_id     category
timestamp       category
platform        category
geo_location    category
dtype: object

In [9]:
events.describe(include='all')

,display_id,uuid,document_id,timestamp,platform,geo_location
count,23120126,23120126,23120126,23120126,23120121.0,23119786
unique,23120126,19794967,894060,22896622,3.0,2988
top,23120126,b88553e3a2aa29,1179111,1187137485,2.0,US>CA>803
freq,1,49,319203,4,10976278.0,1017071

In [10]:
print len(events['display_id'].unique())
print len(events['geo_location'].unique())

23120126
2989

In [11]:
promoted_content = pd.read_csv('/data/promoted_content.csv')
promoted_content.head()

   ad_id  document_id  campaign_id  advertiser_id
0      1         6614            1              7
1      2       471467            2              7
2      3         7692            3              7
3      4       471471            2              7
4      5       471472            2              7

In [12]:
print promoted_content.shape
promoted_content['ad_id'] = promoted_content['ad_id'].astype('category')
promoted_content['document_id'] = promoted_content['document_id'].astype('category')
promoted_content['campaign_id'] = promoted_content['campaign_id'].astype('category')
promoted_content['advertiser_id'] = promoted_content['advertiser_id'].astype('category')
print len(promoted_content['ad_id'].unique())
print len(promoted_content['document_id'].unique())
promoted_content.dtypes

(559583, 4)
559583
185709

ad_id            category
document_id      category
campaign_id      category
advertiser_id    category
dtype: object

In [13]:
promoted_content.describe(include='all')

         ad_id  document_id  campaign_id  advertiser_id
count   559583       559583       559583         559583
unique  559583       185709        34675           4385
top     573098      1804537         7243            266
freq         1         8662         3806          16529

In [5]:
click_train = pd.read_csv('/data/clicks_train.csv')
click_train.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [6]:
print click_train.shape
click_train['display_id'] = click_train['display_id'].astype('category')
click_train['ad_id'] = click_train['ad_id'].astype('category')
click_train['clicked'] = click_train['clicked'].astype('category')
click_train.dtypes

(87141731, 3)

display_id    category
ad_id         category
clicked       category
dtype: object

In [16]:
click_train.describe(include='all')

        display_id     ad_id   clicked
count     87141731  87141731  87141731
unique    16874593    478950         2
top        9429495    173005         0
freq            12    211824  70267138

In [17]:
click_test = pd.read_csv('/data/clicks_test.csv')
click_test.head()

   display_id   ad_id
0    16874594   66758
1    16874594  150083
2    16874594  162754
3    16874594  170392
4    16874594  172888

In [18]:
print click_test.shape
click_test['display_id'] = click_test['display_id'].astype('category')
click_test['ad_id'] = click_test['ad_id'].astype('category')
click_test.dtypes

(32225162, 2)

display_id    category
ad_id         category
dtype: object

In [19]:
click_test.describe(include='all')

        display_id     ad_id
count     32225162  32225162
unique     6245533    381385
top       17212705    180923
freq            12     85392

In [39]:
promo_doc = pd.merge(left=promoted_content,right=doc_meta, left_on='document_id', right_on='document_id')
promo_doc.head()

,ad_id,document_id,campaign_id,advertiser_id,source_id,publisher_id,publish_time
0,1,6614,1,7,1483.0,182.0,2010-07-09 09:00:00
1,2,471467,2,7,1147.0,62.0,2010-06-21 00:00:00
2,3,7692,3,7,1147.0,62.0,2010-06-21 00:00:00
3,4,471471,2,7,1147.0,62.0,2010-06-21 00:00:00
4,5,471472,2,7,1147.0,62.0,2010-06-21 00:00:00

In [21]:
print promo_doc.shape
len(promo_doc['document_id'].unique())
promo_doc.dtypes

(559583, 7)

ad_id              int64
document_id        int64
campaign_id        int64
advertiser_id      int64
source_id        float64
publisher_id     float64
publish_time      object
dtype: object

In [37]:
events_doc = pd.merge(left=events,right=doc_meta, left_on='document_id', right_on='document_id')
events_doc.head()

,display_id,uuid,document_id,timestamp,platform,geo_location,source_id,publisher_id,publish_time
0,1,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
1,1239772,a2eb3a4e0a4c08,379743,74476960,1.0,CA>BC,6482.0,24.0,NaN
2,1306670,c9d0cf076200f3,379743,78297892,2.0,US,6482.0,24.0,NaN
3,2357895,6e0aabe592ba61,379743,148985378,2.0,US,6482.0,24.0,NaN
4,2785946,1eb4bef36f8623,379743,177159039,1.0,US>RI>521,6482.0,24.0,NaN

In [23]:
print events_doc.shape
events_doc.dtypes

(23120126, 9)

display_id        int64
uuid             object
document_id       int64
timestamp         int64
platform        float64
geo_location     object
source_id       float64
publisher_id    float64
publish_time     object
dtype: object

In [24]:
train = pd.merge(left=click_train,right=events_doc, left_on='display_id', right_on='display_id')
train.head()

,display_id,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location,source_id,publisher_id,publish_time
0,1,42337,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
1,1,139684,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
2,1,144739,1,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
3,1,156824,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
4,1,279295,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN

In [25]:
train.shape

(87141731, 11)

In [26]:
train = pd.merge(left=train,right=promo_doc, left_on='ad_id', right_on='ad_id')
train.head()

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
0,1,42337,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
1,2236,42337,0,da19c8b40f20ca,1784646,156650,3.0,US>WI>669,6872.0,41.0,2016-06-13 00:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
2,3497,42337,1,fc1ba1ea4f4e56,1775473,239231,1.0,US>CA>807,2573.0,183.0,2016-06-13 16:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
3,6361,42337,0,8a9becddc8250d,495833,435860,1.0,US>CA>828,7302.0,38.0,2012-03-19 00:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
4,7709,42337,0,fd73225e2607bc,1757446,530186,1.0,US>NV>839,3083.0,240.0,2016-06-13 09:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00

In [27]:
train.dtypes

display_id          int64
ad_id               int64
clicked             int64
uuid               object
document_id_x       int64
timestamp           int64
platform          float64
geo_location       object
source_id_x       float64
publisher_id_x    float64
publish_time_x     object
document_id_y       int64
campaign_id         int64
advertiser_id       int64
source_id_y       float64
publisher_id_y    float64
publish_time_y     object
dtype: object

In [ ]:
test = pd.merge(left=click_test,right=events_doc, left_on='display_id', right_on='display_id')

In [41]:
test = pd.merge(left=test,right=promo_doc, left_on='ad_id', right_on='ad_id')
test.head()

,display_id,ad_id,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
0,16874594,66758,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
1,16874737,66758,a6c6f21856ec92,1726690,59173,3.0,US>TX>618,680.0,579.0,2016-06-11 12:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
2,16875922,66758,a5e6d85eabc5b3,1561121,501082,1.0,US>FL>539,3099.0,240.0,2016-05-31 17:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
3,16876517,66758,7a1333164bbcfd,1736917,733229,1.0,US>IA>679,7478.0,874.0,2016-06-12 00:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
4,16876973,66758,1a1bd1d188ee19,1734348,897830,3.0,US>NC>567,1929.0,265.0,2016-06-11 00:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00

In [40]:
test.head()

,display_id,ad_id,uuid,document_id,timestamp,platform,geo_location,source_id,publisher_id,publish_time
0,16874594,66758,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00
1,16874594,150083,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00
2,16874594,162754,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00
3,16874594,170392,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00
4,16874594,172888,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00

In [42]:
train.to_csv('/data/train.csv')
train.shape

(87141731, 17)

In [43]:
test.to_csv('/data/test.csv')
test.shape

(32225162, 16)

In [44]:
del events_doc
del promo_doc
gc.collect()

698

In [28]:
train.describe(include='all')

/data/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
count,8.714173e+07,8.714173e+07,8.714173e+07,87141731,8.714173e+07,8.714173e+07,8.714170e+07,87140469,8.713996e+07,8.713996e+07,74935043,8.714173e+07,8.714173e+07,8.714173e+07,8.708232e+07,3.390836e+07,68804165
unique,NaN,NaN,NaN,14814344,NaN,NaN,NaN,2918,NaN,NaN,30821,NaN,NaN,NaN,NaN,NaN,11212
top,NaN,NaN,NaN,b88553e3a2aa29,NaN,NaN,NaN,US>CA>803,NaN,NaN,2016-06-14 18:00:00,NaN,NaN,NaN,NaN,NaN,2016-07-30 00:00:00
freq,NaN,NaN,NaN,325,NaN,NaN,NaN,3841355,NaN,NaN,1260367,NaN,NaN,NaN,NaN,NaN,1695383
mean,8.443768e+06,1.903964e+05,1.936454e-01,NaN,1.684916e+06,5.625285e+08,1.716159e+00,NaN,5.287493e+03,5.720567e+02,NaN,1.231040e+06,1.560718e+04,1.587841e+03,6.854963e+03,6.153641e+02,NaN
std,4.872763e+06,1.250345e+05,3.951542e-01,NaN,7.381354e+05,3.246744e+08,7.047795e-01,NaN,3.423915e+03,3.871697e+02,NaN,4.431459e+05,9.434719e+03,1.065265e+03,3.617696e+03,3.720338e+02,NaN
min,1.000000e+00,1.000000e+00,0.000000e+00,NaN,2.000000e+00,6.100000e+01,1.000000e+00,NaN,1.000000e+00,2.000000e+00,NaN,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,NaN
25%,4.216023e+06,9.763400e+04,0.000000e+00,NaN,1.172600e+06,2.731697e+08,NaN,NaN,NaN,NaN,NaN,9.697710e+05,7.095000e+03,6.170000e+02,NaN,NaN,NaN
50%,8.464243e+06,1.683860e+05,0.000000e+00,NaN,1.827718e+06,5.754866e+08,NaN,NaN,NaN,NaN,NaN,1.211957e+06,1.686100e+04,1.635000e+03,NaN,NaN,NaN
75%,1.265967e+07,2.529310e+05,0.000000e+00,NaN,2.266412e+06,8.367820e+08,NaN,NaN,NaN,NaN,NaN,1.472443e+06,2.296500e+04,2.357000e+03,NaN,NaN,NaN
max,1.687459e+07,5.480190e+05,1.000000e+00,NaN,2.826281e+06,1.123200e+09,3.000000e+00,NaN,1.440300e+04,1.252000e+03,NaN,2.823769e+06,3.440000e+04,4.438000e+03,1.440400e+04,1.263000e+03,NaN

In [31]:
test.describe(include='all')

,display_id,ad_id,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
count,3.222516e+07,3.222516e+07,32225162,3.222516e+07,3.222516e+07,3.222516e+07,32224655,3.222075e+07,3.222075e+07,27831669,3.222516e+07,3.222516e+07,3.222516e+07,3.208569e+07,1.272733e+07,25376765
unique,NaN,NaN,5861229,NaN,NaN,NaN,2692,NaN,NaN,25276,NaN,NaN,NaN,NaN,NaN,10388
top,NaN,NaN,9d025d05fcc180,NaN,NaN,NaN,US>CA>803,NaN,NaN,2016-06-27 00:00:00,NaN,NaN,NaN,NaN,NaN,2016-07-30 00:00:00
freq,NaN,NaN,112,NaN,NaN,NaN,1372938,NaN,NaN,969768,NaN,NaN,NaN,NaN,NaN,576707
mean,1.999773e+07,2.111462e+05,NaN,1.856631e+06,9.023389e+08,1.703345e+00,NaN,5.316992e+03,5.735675e+02,NaN,1.282169e+06,1.635528e+04,1.610009e+03,6.872796e+03,6.148852e+02,NaN
std,1.802625e+06,1.466466e+05,NaN,8.739911e+05,3.961758e+08,6.993481e-01,NaN,3.446062e+03,3.893619e+02,NaN,5.155171e+05,9.940318e+03,1.096349e+03,3.680362e+03,3.759255e+02,NaN
min,1.687459e+07,1.000000e+00,NaN,8.000000e+00,1.026000e+03,1.000000e+00,NaN,1.000000e+00,2.000000e+00,NaN,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,NaN
25%,1.843929e+07,1.042080e+05,NaN,1.178360e+06,5.959871e+08,1.000000e+00,NaN,NaN,NaN,NaN,9.725900e+05,7.283000e+03,6.210000e+02,NaN,NaN,NaN
50%,1.999674e+07,1.752140e+05,NaN,1.954746e+06,1.134652e+09,2.000000e+00,NaN,NaN,NaN,NaN,1.249871e+06,1.729500e+04,1.635000e+03,NaN,NaN,NaN
75%,2.155796e+07,2.858390e+05,NaN,2.712621e+06,1.211921e+09,2.000000e+00,NaN,NaN,NaN,NaN,1.518949e+06,2.415200e+04,2.391000e+03,NaN,NaN,NaN
max,2.312013e+07,5.670730e+05,NaN,2.999321e+06,1.296000e+09,3.000000e+00,NaN,1.440300e+04,1.251000e+03,NaN,2.996938e+06,3.524200e+04,4.501000e+03,1.440200e+04,1.262000e+03,NaN

In [7]:
click_train.head()

  display_id   ad_id clicked
0          1   42337       0
1          1  139684       0
2          1  144739       1
3          1  156824       0
4          1  279295       0

In [1]:
import numpy as np
import scipy
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [11]:
click_train[['clicked']].head()

  clicked
0       0
1       0
2       1
3       0
4       0

In [13]:
X_train, X_test, y_train, y_test = train_test_split(click_train[['display_id','ad_id']], click_train[['clicked']], test_size=.4)

In [ ]:
clf = MultinomialNB()