In [20]:
import pandas as pd
import numpy as np

In [21]:
doc_meta = pd.read_csv('/data/documents_meta.csv')
doc_meta.head()

   document_id  source_id  publisher_id         publish_time
0      1595802        1.0         603.0  2016-06-05 00:00:00
1      1524246        1.0         603.0  2016-05-26 11:00:00
2      1617787        1.0         603.0  2016-05-27 00:00:00
3      1615583        1.0         603.0  2016-06-07 00:00:00
4      1615460        1.0         603.0  2016-06-20 00:00:00

In [41]:
print doc_meta.shape
doc_meta.dtypes

(2999334, 4)

document_id       int64
source_id       float64
publisher_id    float64
publish_time     object
dtype: object

In [58]:
len(doc_meta['document_id'].unique())

2999334

In [30]:
events = pd.read_csv('/data/events.csv',na_values=['\\N'])
events.head()

   display_id            uuid  document_id  timestamp  platform geo_location
0           1  cb8c55702adb93       379743         61       3.0    US>SC>519
1           2  79a85fa78311b9      1794259         81       2.0    US>CA>807
2           3  822932ce3d8757      1179111        182       2.0    US>MI>505
3           4  85281d0a49f7ac      1777797        234       2.0    US>WV>564
4           5  8d0daef4bf5b56       252458        338       2.0        SG>00

In [42]:
print events.shape
events.dtypes

(23120126, 6)

display_id        int64
uuid             object
document_id       int64
timestamp         int64
platform        float64
geo_location     object
dtype: object

In [59]:
print len(events['display_id'].unique())
print len(events['geo_location'].unique())

23120126
2989

In [36]:
promoted_content = pd.read_csv('/data/promoted_content.csv')
promoted_content.head()

   ad_id  document_id  campaign_id  advertiser_id
0      1         6614            1              7
1      2       471467            2              7
2      3         7692            3              7
3      4       471471            2              7
4      5       471472            2              7

In [61]:
print promoted_content.shape
print len(promoted_content['ad_id'].unique())
print len(promoted_content['document_id'].unique())
promoted_content.dtypes

(559583, 4)
559583
185709

ad_id            int64
document_id      int64
campaign_id      int64
advertiser_id    int64
dtype: object

In [39]:
click_train = pd.read_csv('/data/clicks_train.csv')
click_train.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [44]:
print click_train.shape
click_train.dtypes

(87141731, 3)

display_id    int64
ad_id         int64
clicked       int64
dtype: object

In [46]:
click_test = pd.read_csv('/data/clicks_test.csv')
click_test.head()

   display_id   ad_id
0    16874594   66758
1    16874594  150083
2    16874594  162754
3    16874594  170392
4    16874594  172888

In [47]:
print click_test.shape
click_test.dtypes

(32225162, 2)

display_id    int64
ad_id         int64
dtype: object

In [62]:
promo_doc = pd.merge(left=promoted_content,right=doc_meta, left_on='document_id', right_on='document_id')
promo_doc.head()

,ad_id,document_id,campaign_id,advertiser_id,source_id,publisher_id,publish_time
0,1,6614,1,7,1483.0,182.0,2010-07-09 09:00:00
1,2,471467,2,7,1147.0,62.0,2010-06-21 00:00:00
2,3,7692,3,7,1147.0,62.0,2010-06-21 00:00:00
3,4,471471,2,7,1147.0,62.0,2010-06-21 00:00:00
4,5,471472,2,7,1147.0,62.0,2010-06-21 00:00:00

In [64]:
print promo_doc.shape
len(promo_doc['document_id'].unique())

(559583, 7)

185709

In [65]:
events_doc = pd.merge(left=events,right=doc_meta, left_on='document_id', right_on='document_id')
events_doc.head()

,display_id,uuid,document_id,timestamp,platform,geo_location,source_id,publisher_id,publish_time
0,1,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
1,1239772,a2eb3a4e0a4c08,379743,74476960,1.0,CA>BC,6482.0,24.0,NaN
2,1306670,c9d0cf076200f3,379743,78297892,2.0,US,6482.0,24.0,NaN
3,2357895,6e0aabe592ba61,379743,148985378,2.0,US,6482.0,24.0,NaN
4,2785946,1eb4bef36f8623,379743,177159039,1.0,US>RI>521,6482.0,24.0,NaN

In [66]:
events_doc.shape

(23120126, 9)

In [67]:
train = pd.merge(left=click_train,right=events_doc, left_on='display_id', right_on='display_id')
train.head()

,display_id,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location,source_id,publisher_id,publish_time
0,1,42337,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
1,1,139684,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
2,1,144739,1,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
3,1,156824,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN
4,1,279295,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN

In [68]:
train.shape

(87141731, 11)

In [69]:
train = pd.merge(left=train,right=promo_doc, left_on='ad_id', right_on='ad_id')
train.head()

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
0,1,42337,0,cb8c55702adb93,379743,61,3.0,US>SC>519,6482.0,24.0,NaN,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
1,2236,42337,0,da19c8b40f20ca,1784646,156650,3.0,US>WI>669,6872.0,41.0,2016-06-13 00:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
2,3497,42337,1,fc1ba1ea4f4e56,1775473,239231,1.0,US>CA>807,2573.0,183.0,2016-06-13 16:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
3,6361,42337,0,8a9becddc8250d,495833,435860,1.0,US>CA>828,7302.0,38.0,2012-03-19 00:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00
4,7709,42337,0,fd73225e2607bc,1757446,530186,1.0,US>NV>839,3083.0,240.0,2016-06-13 09:00:00,938164,5969,1499,5802.0,NaN,2016-07-27 00:00:00

In [70]:
train.shape

(87141731, 17)

In [71]:
test = pd.merge(left=click_test,right=events_doc, left_on='display_id', right_on='display_id')
test = pd.merge(left=test,right=promo_doc, left_on='ad_id', right_on='ad_id')
test.head()

,display_id,ad_id,uuid,document_id_x,timestamp,platform,geo_location,source_id_x,publisher_id_x,publish_time_x,document_id_y,campaign_id,advertiser_id,source_id_y,publisher_id_y,publish_time_y
0,16874594,66758,16e1290e312561,1792425,1026,3.0,US>MI>505,1487.0,578.0,2016-06-13 23:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
1,16874737,66758,a6c6f21856ec92,1726690,59173,3.0,US>TX>618,680.0,579.0,2016-06-11 12:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
2,16875922,66758,a5e6d85eabc5b3,1561121,501082,1.0,US>FL>539,3099.0,240.0,2016-05-31 17:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
3,16876517,66758,7a1333164bbcfd,1736917,733229,1.0,US>IA>679,7478.0,874.0,2016-06-12 00:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00
4,16876973,66758,1a1bd1d188ee19,1734348,897830,3.0,US>NC>567,1929.0,265.0,2016-06-11 00:00:00,1051283,8949,555,6452.0,NaN,2016-03-07 00:00:00

In [72]:
test.shape

(32225162, 16)

In [83]:
import gc
del events_doc
del promo_doc

NameError: name 'events_doc' is not defined

In [84]:
del click_train
del events
gc.collect()

91

In [85]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87141731 entries, 0 to 87141730
Data columns (total 17 columns):
display_id        int64
ad_id             int64
clicked           int64
uuid              object
document_id_x     int64
timestamp         int64
platform          float64
geo_location      object
source_id_x       float64
publisher_id_x    float64
publish_time_x    object
document_id_y     int64
campaign_id       int64
advertiser_id     int64
source_id_y       float64
publisher_id_y    float64
publish_time_y    object
dtypes: float64(5), int64(8), object(4)
memory usage: 11.7+ GB

In [81]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32225162 entries, 0 to 32225161
Data columns (total 16 columns):
display_id        int64
ad_id             int64
uuid              object
document_id_x     int64
timestamp         int64
platform          float64
geo_location      object
source_id_x       float64
publisher_id_x    float64
publish_time_x    object
document_id_y     int64
campaign_id       int64
advertiser_id     int64
source_id_y       float64
publisher_id_y    float64
publish_time_y    object
dtypes: float64(5), int64(7), object(4)
memory usage: 4.1+ GB

In [86]:
gc.collect()

17